@tailwind base;
@tailwind components;
@tailwind utilities;

.minimal-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.minimal-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e0;
  border-radius: 4px;
}

.minimal-scrollbar::-webkit-scrollbar-track {
  background-color: #f7fafc;
}

.minimal-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e0 #f7fafc;
}
